/* Use flexible layout with flexbox */
/* source: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Using_CSS_flexible_boxes */

#main {
  display: flex;
}

#main > article {
  flex: 3 1 54%;
  order: 2;
}

#main > nav {
  background: #fafafa;
  flex: 1 6 23%;
  order: 1;
}

#main > aside {
  background: #fafafa;
  flex: 1 6 23%;
  order: 3;
}

header {
  display: block;
  min-height: 50px;
  background: #fafafa;
}

ul.flat > li {
  display: inline;
  margin: auto 5px;
}